<div class="sidebar p-3">
    <h4 class="mb-4">Admin Dashboard</h4>
    <div>
        <div class="section-title">Student</div>
        <ul class="nav flex-column mb-4">
            <li class="nav-item">
                <a class="nav-link" href="/adduser">Add Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">View Students</a>
            </li>
        </ul>
    </div>
    <div class="divider"></div>
    <div>
        <div class="section-title">Category</div>
        <ul class="nav flex-column mb-4">
            <li class="nav-item">
                <a class="nav-link" href="#">Add Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">View Categories</a>
            </li>
        </ul>
    </div>
    <div class="divider"></div>
    <div>
        <div class="section-title">Book</div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Add Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">View Books</a>
            </li>
        </ul>
    </div>
</div>