<div class="sidebar">
    <h2>Admin Dashboard</h2>
    <b>User</b>
    <div>
        <a href="/adduser"><i class="fas fa-user-plus"></i> Add User</a>
    </div>
    <div>
        <a href="/viewUsers"><i class="fas fa-users"></i> View User</a>
    </div>
    <br>
    <b>Category</b>
    <div>
        <a href="/addCategory"><i class="fas fa-folder-plus"></i> Add Category</a>
    </div>
    <div>
        <a href="/viewCategories"><i class="fas fa-folder-open"></i> View Categories</a>
    </div>
    <br>
    <b>Book</b>
    <div>
        <a href="/addBook"><i class="fas fa-book-medical"></i> Add Book</a>
    </div>
    <div>
        <a href="/viewBooks"><i class="fas fa-book-open"></i> View Books</a>
    </div>
</div>