<link rel="stylesheet" href="/styles/adminSidebar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<div class="sidebar-dark">
  <div class="sidebar-logo">
    <img src="/images/library.jpg" alt="Library Logo" class="logo-img">
    <span class="logo-text">Library</span>
  </div>
  <div class="sidebar-section">
    <div class="sidebar-group">
      <a href="/user/dashboard" class="sidebar-link">
        <i class="fa fa-home"></i> Dashboard
      </a>
    </div>
    <div class="sidebar-group">
      <a href="/user/profile" class="sidebar-link">
        <i class="fa fa-user"></i> View Profile
      </a>
    </div>
    <div class="sidebar-group">
      <a href="/user/books" class="sidebar-link">
        <i class="fa fa-book"></i> View Books
      </a>
    </div>
    <div class="sidebar-group">
      <a href="/user/issued-books" class="sidebar-link">
        <i class="fa fa-book-open"></i> My Issued Books
      </a>
    </div>
    <div class="sidebar-group">
      <a href="/user/returned-books" class="sidebar-link">
        <i class="fa fa-undo"></i> My Returned Books
      </a>
    </div>
    <div class="sidebar-group">
      <a href="/user/fines" class="sidebar-link">
        <i class="fa fa-money-bill-wave"></i> Fines / Dues
      </a>
    </div>
  </div>
  <div class="sidebar-logout">
    <a href="/logout" class="logout-btn">
      <i class="fa fa-sign-out-alt"></i> Logout
    </a>
  </div>
</div>