<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>View Students</title>
  <link rel="stylesheet" href="/styles/viewUser.css">

</head>
<body>
      <table>
        <thead>
          <tr>
            <th>sr. no.</th>
            <th>Name</th>
            <th>Email / Username</th>
            <!-- <th>Password</th> -->
            <th>Role</th>
            <th>Admission Date</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
       
      </table>
    </div>
  </div>
</body>
</html>
