* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}
